<%- include('./partials/header') %>

<% if (user) { %>
<h1>Welcome to the app, <%= user.username %>!</h1>
<a href="/auth/sign-out">Sign out</a>
<a href="/listing/new">Add a Listing</a>
<a href="/listing/">View All Listings</a>
<% } else { %>
<h1>Welcome to the app, guest.</h1>
<p>
  <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
</p>
<% } %>

<%- include('./partials/footer') %>
